.canvas {
  background-color: white;
  padding: 3rem 4rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;

  p {
    line-height: 1.5;
    font-size: 1.25rem;
    // font-weight: 300;
  }

  &__title {
    font-size: 1.875rem;
    color: var(--primary-color);
    margin-bottom: 0.4rem;
  }

  &__metaData {
    color: #467162;
    font-size: 1.25rem;
    font-weight: bold;
  }
}
