@import "utilities/_breakpoints.scss";
@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash|Quicksand:300,400,700&display=swap");

:root {
  --primary-color: #2da379;
  --accent-color: #fff55f;
  --secondary-color: #008ff5;
  --secondary-color-light: #008ff5;
  --text-color: #7f8595;
  --light-grey: #ddd;
}

::selection {
  background-color: var(--accent-color);
}

a {
  color: var(--secondary-color);
}
$small-screen: 640px;

body {
  font-family: "Quicksand", sans-serif;
  color: var(--text-color);
  margin: 0;
}
.app {
  display: grid;
  grid-template-columns: minmax(288px, 15%) auto;
  margin: auto;
  position: fixed;
  height: 100%;
  width: 100%;

  @include respondTo(sm) {
    display: block;
    position: initial;
  }

  main {
    overflow-y: scroll;
  }
}
